
h1{
    color:white;
}
body{
border: 2px solid black;
padding: 25px;
background-color:palevioletred;
background-repeat: no-repeat;

    
}
h3{
    color:black
}
label{
    color:black
}
#label1{
    color:black
}
#home{
    color:white
}
#bell{
    margin-left: 1000px;
    
}




